.formbox {
    background-color: white;
    padding: 3rem;
    border-radius: 2px;
    box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.2);
}
.hero {
  background-image: url(/../img/hero.jpg);
  background-position: right;

  &-body {
    background-color: rgba(0, 0, 0, 0.4);
  }
 .label {
     color: $primary;
     font-weight: 400;
 }
}

.feature_icon {
    width: 90px;
    height: 90px;
    fill: $primary;
    margin-bottom: 2rem;
}
.box__feature {
    padding: 0 20px;
    
    p {
        padding: 10px 0;
    }

}
.gallery_image {
  padding-bottom: 0px !important;
  margin-bottom: 0px !important;

  img {
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
  }
}
.testimonial {
  background: white;
  border-radius: 2px;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
  width: 100%;
  min-height: 300px;
  padding: 20px;
  color: black;

  .testimonial__icon {
    width: 15px;
    height: 15px;
    fill: #FDCC0D;
    
  }
  &__text {
    font-size: 14px;
    margin-top: 20px;
  }
}